$white-color: #fff;
$border-color: #dcdfe6;
$primary-color: #409eff;
$extra-light-primary-color: #ecf5ff;

/* Create table popover settings */
.table-grid-size-editor__cell__inner {
  box-sizing:border-box;width:16px;height:16px;padding:4px;border:1px solid #dcdfe6;border-radius:2px;
}
.table-grid-size-editor__cell--selected .table-grid-size-editor__cell__inner {
  background-color:#ecf5ff;border-color:#409eff;
}
.table-menu .v-list-item:hover {
  cursor: pointer;
}

.olotap {
  overflow-wrap: anywhere;

  &-editor {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 100%;

    &--fullscreen {
      position: fixed !important;
      inset: 0 !important;
      z-index: 200;
      width: 100% !important;
      height: 100% !important;
      margin: 0 !important;
      border-radius: 0 !important;
    }

    &__menu-bubble {
      .v-toolbar__content {
        padding: 0;
      }
    }

    &__toolbar {
      .v-toolbar__content {
        flex-wrap: wrap;
        row-gap: 4px;
        padding: 4px 12px;

        .v-divider--vertical {
          height: inherit;
        }
      }
    }

    &__content {
      :focus-visible {
        outline: -webkit-focus-ring-color auto 0;
      }

      img {
        display: inline-block;
        float: none;

        &[data-display='inline'] {
          padding-right: 12px;
          padding-left: 12px;
        }

        &[data-display='block'] {
          display: block;
        }

        &[data-display='left'] {
          float: left;
          padding-right: 12px;
          padding-left: 0;
        }

        &[data-display='right'] {
          float: right;
          padding-right: 0;
          padding-left: 12px;
        }
      }

      .task-list {
        padding-left: 0;
        list-style: none;

        .task-list-item {
          display: flex;
          list-style: none;

          > label {
            flex: 0 0 auto;
            padding-right: 8px;
            padding-left: 8px;
            user-select: none;
          }

          > div {
            flex: 1 1 auto;
          }
        }
      }
    }
  }

  .ProseMirror {
    min-height: 180px;
    padding: 8px 18px;
    overflow-wrap: anywhere;

    p.is-editor-empty:first-child::before {
      float: left;
      height: 0;
      color: #adb5bd;
      pointer-events: none;
      content: attr(data-placeholder);
    }

    .iframe-wrapper {
      &.focus,
      &.ProseMirror-selectednode {
        > div {
          outline: 4px solid $primary-color;
          transition: outline 0.15s ease-in;
        }
      }
    }

    .hr-wrapper {
      &:hover {
        outline-color: #ffc83d;
      }
      &--focused:hover,  
      &.focus,
      &.ProseMirror-selectednode {
        outline: 4px solid #409eff;
        transition: outline 0.15s ease-in;
      }
    }

    .code-block-wrapper {
      &:hover {
        outline-color: #ffc83d;
      }
      &--focused:hover,  
      &.focus,
      &.ProseMirror-selectednode {
        outline: 4px solid #409eff;
        transition: outline 0.15s ease-in;
      }
    }

    table.table-wrapper {
      .selectedCell {
        position: relative;

        &::after {
          position: absolute;
          inset: 0;
          z-index: 2;
          pointer-events: none;
          content: '';
          background: rgb(200 200 255 / 40%);
        }
      }
    }

    .image-view {
      $root: &;

      display: inline-block;
      float: none;
      max-width: 100%;
      line-height: 0;
      vertical-align: baseline;
      user-select: none;

      &--inline {
        margin-right: 0;
        margin-left: 0;
      }

      &--block {
        display: block;
      }

      &--left {
        float: left;
        margin-right: 12px;
        margin-left: 0;
      }

      &--right {
        float: right;
        margin-right: 0;
        margin-left: 12px;
      }

      &__body {
        position: relative;
        display: inline-block;
        max-width: 100%;
        clear: both;
        outline: transparent solid 2px;
        transition: all 0.2s ease-in;

        &:hover {
          outline-color: #ffc83d;
        }

        &--focused:hover,
        &--resizing:hover {
          outline-color: transparent;
        }

        &__placeholder {
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          width: 100%;
          height: 100%;
        }

        &__image {
          margin: 0;
          cursor: pointer !important;
        }
      }

      &.focus,
      &.ProseMirror-selectednode {
        img {
          outline: 2px solid $primary-color;
          transition: outline 0.15s ease-in;
        }
      }
    }

    .image-resizer {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      border: 1px solid $primary-color;

      &__handler {
        position: absolute;
        z-index: 2;
        box-sizing: border-box;
        display: block;
        width: 12px;
        height: 12px;
        background-color: $primary-color;
        border: 1px solid $white-color;
        border-radius: 2px;

        &--tl {
          top: -6px;
          left: -6px;
          cursor: nw-resize;
        }

        &--tr {
          top: -6px;
          right: -6px;
          cursor: ne-resize;
        }

        &--bl {
          bottom: -6px;
          left: -6px;
          cursor: sw-resize;
        }

        &--br {
          right: -6px;
          bottom: -6px;
          cursor: se-resize;
        }
      }
    }
  }

  &.dense {
    .ProseMirror {
      min-height: 32px;
      padding: 6px 12px;
    }

    p {
      padding: 0;
      line-height: 1.2rem;
    }
  }

  /* Tailwind independent classes */
  .rounded-full {
    border-radius: 9999px;
  }
  .w-full {
    width: 100%;
  }
  .p-1 {
    padding: 0.25rem;
  }
  .py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
  .pl-2 {
    padding-left: 0.5rem;
  }
  .pr-6 {
    padding-right: 1.5rem;
  }
  .py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .bg-white {
    background-color: white;
  }
  .shadow {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.06);
  }
  .group-focus-within\:block {
    display: none;
  }
  .group:focus-within .group-focus-within\:block {
    display: block;
  }
  .hidden {
    display: none;
  }
  .overflow-hidden {
    overflow: hidden;
  }
  .whitespace-nowrap {
    white-space: nowrap;
  }
  .absolute {
    position: absolute;
  }
  .bottom-full {
    bottom: 100%;
  }
  .mt-4 {
    margin-top: 1rem;
  }
  .border {
    border-width: 1px;
  }
  .border-slate-400 {
    border-color: #dcddde;
  }
  .flex {
    display: flex;
  }
  .flex-row {
    flex-direction: row;
  }
  .flex-column {
    flex-direction: column;
  }
  .group {
    display: inline-block;
  }
  .text-sm {
    font-size: 0.875rem;
  }
  .relative {
    position: relative;
  }
  .items-center {
    align-items: center;
  }
  .text-slate-400 {
    color: #dcddde;
  }
  .text-slate-600 {
    color: rgb(71 85 105);
  }
  .rounded {
    border-radius: 0.25rem;
  }
  .left-0 {
    left: 0;
  }
  .right-0 {
    right: 0;
  }
  .gap-2 {
    gap: 0.5rem;
  }
  .hover\:bg-slate-100 {
    transition: background-color 150ms ease-in-out;
  }
  .hover\:bg-slate-100:hover {
    background-color: #f4f4f4;
  }
  .bg-slate-600 {
    background-color: #475569 !important;
  }
  .hover\:bg-slate-700 {
    background-color: white;
    transition: background-color 150ms ease-in-out;
  }
  .hover\:bg-slate-700:hover {
    background-color: #a0a1a3;
  }
  .hover\:text-slate-800:hover {
    color: #57595c;
  }
  .text-white {
    color: white;
  }

  @media (min-width: 640px) {
    .sm\:bottom-auto {
      bottom: auto;
    }
    .sm\:top-full {
      top: 100%;
    }
  }

  .w-5 {
    width: 1.25rem;
  }
  .h-5 {
    height: 1.25rem;
  }

  @media (min-width: 768px) {
    .md\:w-6 {
      width: 1.5rem;
    }
    .md\:h-6 {
      height: 1.5rem;
    }
  }

  .w-6 {
    width: 1.5rem;
  }
  .h-6 {
    height: 1.5rem;
  }
}
